/* Estilos generales */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/fonsomusical.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #14c4c49a;
    box-shadow: 0 4px 8px rgba(175, 15, 15, 0.918);
}

/* Estilos para el formulario */
.form-group {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(27, 8, 112);
    border-radius: 8px;
    background-color: #d85c5c67;
    box-shadow: 0 4px 8px rgba(122, 7, 189, 0.883);
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(73, 12, 131, 0.918);
}

button:hover {
    background-color: #df4c08;
}
