/* Estilos para el cuerpo de la página */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/fonsomusical.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    width: 50%;
    padding: 20px;
    background-color: #14c4c49a; /* Cambia el color de fondo según tus preferencias */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(189, 3, 3, 0.767); /* Cambia el sombreado según tus preferencias */
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    font-size: 28px;
    color: #fff; /* Color de texto blanco */
    margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semi-transparente para la tabla */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(3, 6, 189, 0.986); /* Cambia el sombreado según tus preferencias */

}

/* Estilos para las celdas de la tabla */
td, th {
    border: 2px solid #fff; /* Borde blanco */
    padding: 10px;
    text-align: center;
    background-color: #333; /* Color de fondo para las celdas */
    color: #fff; /* Color de texto blanco */
}

/* Estilos para las filas impares (efecto de zebra) */
tr:nth-child(odd) {
    background-color: #444; /* Cambia el color de fondo según tus preferencias */
}
