body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-title {
    font-size: 24px;
    margin: 10px;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: end;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

/* Estilos para el footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: -120px;
    margin-top: 225px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.contact-info,
.description,
.legal-terms {
    flex: 1;
    padding: 10px;
}

/* Estilos adicionales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #04361d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    background-color: #333;
    color: white;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}
